/*Сброс всех отступов и границ для всех элементов */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
/*Навигация*/
nav {
      background-color: #007BFF;
      padding: 10px;
      max-width: 1200px;
    }
    nav a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;    
    }
nav ul{
    list-style-type: style none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a:hover{
    background-color: #555;
}

section{
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0;

    }
/* "О проeкте" */
#about{background-color: #f9f9f9;

}
#about h2{
    font-size: 2.5em;
    margin: 0;
    color: #1f0cf3;
    }
#about p{
    font-size: 1.2em;
    max-width: 700px;
    margin: 10px;
    padding: 0px;
    color: #0a0a0a;  
    line-height: 1.8;
}
/* "Направления" */
#directions{background-color: #eef5ff;

}
#directions h2{
    font-size: 2.5em;
    margin: 0;
    color: #1f0cf3;
}
    
#directions h5{
    font-size: 1.0em;
    margin: 10;
    padding: 10px;
    color: #010007;
}
#directions ol{
    font-size: 1.0em;
    padding-left: 30px;
    color: #010007;
}
/*Таблица*/
table{
width: 100%;
border-collapse:collapse;
margin: 0;
}
th,td{
   padding:12px;
   border: 1px solid #ccc;
   }
th{
    background: #71b3ec;
    color: rgb(7, 7, 7);
    text-align: left;  
   }
/*Галлерея*/
#gallery{background-color: #f9f9f9;}
h2{
    font-size: 2.5em;
    margin: 0;
    color: #1f0cf3;
    
}
h3{
    font-size: 1.0em;
    margin: 5;
    padding: 5px;
    color: #010007;
    }
p{
    font-size: 1.0em;
    margin: 5;
    padding: 5px;
    color: #010007;  
}
h5{
    font-size: 1.0em;
    margin: 5;
    padding: 5px;
    color: #010007;
}
    ul {
      padding-left: 10px; /* Для точек */
    }
    a {
      color: #340f94;
      text-decoration: underline;
  }
  /*Планирование*/
#planning{background-color: #fff8e1;}
   /* Форма */
    form {
        background: white;
        padding: 30px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        max-width: 600px;
        width: 90%;
        } 
    form label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
        }  
    form input, select, textarea {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        } 
    form p {
        margin-top: 15px;
        font-weight: bold;
           }
           
        form label input {
        width: auto;
               margin-right: 10px;
           }
        form-buttons {
               margin-top: 20px;
               display: flex;
               gap: 15px;
               justify-content: center;
           }
        button {
               padding: 10px 20px;
               background-color: #4CAF50;
               color: white;
               border: none;
               border-radius: 4px;
               cursor: pointer;
           }
           
           button[type="reset"] {
               background-color: #f44336;
           }
           button:hover {
            opacity: 0.9;
           }
           /* Контакты */
           {
            padding: 20px 20px;
            } 
    #contacts{background-color: #f5f5f5;}
    /*Подвал*/ 
    footer {
      background-color: #007BFF;
      color: white;
      text-align: center;
      padding: 10px;
      max-width: 1200px;
      
    }   